
@{
    ViewBag.Title = "Bio";
}

<h2>Bio</h2>
<h3>@ViewBag.Intro</h3>
<h4>@ViewBag.Address</h4>
<h4>@ViewBag.Contact</h4>
<fieldset>
    <legend>Personal Information:</legend>
    <table class="table table-bordered">
       
        
               <!-- <th>Date of Birth</th>
                <th>Religion</th>
                <th>Blood Group</th>
                <th>Address</th>-->
            
        
        <tbody>
            <tr>

                <th>Father's Name</th>
                <td>MD Salim</td>
            </tr>
            <tr>

                <th>Mother's Name</th>
                <td>Morshada Begum</td>
            </tr>

            <tr>

                <th>Date of Birth</th>
                <td>31-12-2000</td>

            </tr>

            <tr>

                <th>Religion</th>
                <td>Islam</td>
            </tr>

            <tr>

                <th>Blood Group</th>
                <td>B+</td>
            </tr>

            <tr>

                <th>Address</th>
                <td>Ashara,Chandina,Cumilla</td>
            </tr>
            <!-- <tr>




        <td>MD Salim</td>
        <td>31-12-2000</td>
        <td>Islam</td>
        <td>B+</td>
        <td>Ashara,Chandina,Cumilla</td>
    </tr>-->
        </tbody>

    </table>
</fieldset>

