
@{
    ViewBag.Title = "Education";
}

<!--<h2>Education</h2>-->
<fieldset>
    <legend><b>Education:</b></legend>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Examination</th>
                <th>Passing Year</th>
                <th>Grade</th>
                <th>Institution</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>BSC in CSE</td>
                <td>2022</td>
                <td>3.91</td>
                <td>American International University Bangladesh</td>
            </tr>
            <tr>
                <td>HSC</td>
                <td>2018</td>
                <td>5.00</td>
                <td>Sonar Bangla College</td>
            </tr>
            <tr>
                <td>SSC</td>
                <td>2016</td>
                <td>5.00</td>
                <td>Baro Gobindapur A.M.B. High School</td>
            </tr>
        </tbody>

    </table>
</fieldset>

