
@{
    ViewBag.Title = "Project";
}

<h2>Project</h2>


<table class="table table-bordered">
    <thead>
        <tr>
            <th>Project Name</th>
            <th>Language</th>
            <th>IDE/platform/Software</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Grading System</td>
            <td>C++</td>
            <td>CodeBlock</td>
        </tr>
        <tr>
            <td>Banking Management System</td>
            <td>Java</td>
            <td>SciTE</td>
        </tr>
        <tr>
            <td>Restaurant Management System</td>
            <td>C#</td>
            <td>Visual Studio</td>
        </tr>
        <tr>
            <td>Farm Asistance Service</td>
            <td>Html, PHP, CSS, Java Script</td>
            <td>Sublime text</td>
        </tr>
        <tr>
            <td>Art Gallery Management</td>
            <td>SQl,UML</td>
            <td>Oracle</td>
        </tr>
        <tr>
            <td>Banking Management System</td>
            <td>SQl,UML,C#</td>
            <td>Oracle,Visual Studio</td>
        </tr>
    </tbody>
    </table>
<h3>@ViewBag.Addition</h3>
<h4>@ViewBag.Skills</h4>
